* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    color: #333333;
}

header {
    background-color: #ffffff;
    padding: 15px 40px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 15px 40px;
    background: #ffffff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.menu ul{
    display: flex;
    list-style:none;
    gap: 30px;
}
.menu a{
    text-decoration:none;
    color: #333;
    font-weight:500;
    transition:color 0.3s;
}
.menu a:hover{
    color: #2d6a4f;
}
.actions{
    display: flex;
    align-items: center;
    gap: 12px;
}
.actions input {
    padding: 8px 14px;
    border:1.5px solid #ddd;
    border-radius: 6px;
    font-family:'poppins',sans-serif;
    outline:none;
}
.action input{
    padding: 8px 14px;
    background:#2d6a4f;
    color:white;
    border: none;
    border-radius:6px;
    font-family:'Poppings',sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s;
}
.actions button :hover{
    background: #1b4332;
}
.shop-page-header {
    background: linear-gradient(135deg,#1b4332,#2d6a4f);
    padding: 50px 60px;
    text-align: center;
    color:white;
}
