/* GOOGLE FONT FIX*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* CSS RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/* BODY STYLING */
body{
    font-family:'Poppins',sans-serif;
    background:#f8fdf8;
    color:#333;
}
/* NAVBAR STYLING */
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 80px;
    background:#ffffff;
}

.logo h2{
    font-size:30px;
    color:#2e7d32;
    font-weight:700;
}

.menu ul{
    display:flex;
    list-style:none;
    gap: 30px;
}

.menu ul li a{
    text-decoration:none;
    color:#333;
    font-size:18px;
    font-weight:500;
    transition:0.3s;
}

.menu ul li a:hover{
    color:#3ab340;
}

.actions{
    display:flex;
    align-items:center;
    gap:15px;
}

.actions input{
    padding:10px;
    border:1px solid #ccc;
    border-radius:5px;
    outline:none;
}

.actions button{
    padding:10px 18px;
    border:none;
    background:#2e7d32;
    color:white;
    border-radius:5px;
    cursor:pointer;
    transition:0.3s;
}

.actions button:hover{
    background:#1b5e20;
}

/* HERO SECTION STYLING */
.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    min-height:90vh;
    padding:0 80px;
}

.hero-content{
    width:50%;
}

.hero-image{
    width:50%;
    display:flex;
    justify-content:center; 
}

.hero-content h1{
    font-size:60px;
    font-weight:700;
    color:#1b5e20;
    line-height:1.2;
}

.hero-content p{
    font-size:18px;
    color:#555;
    margin:20px 0;
}

.hero-content button{
    padding:15px 30px;
    border:none;
    background:#2e7d32;
    color:white;
    font-size:18px;
    border-radius:8px;
    cursor:pointer;
    transition:background-color 0.3s ease;
}

.hero-content button:hover{
    background:#1b5e20;
}

.hero-image img{
    width:100%;
    min-width:500px;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}


/* ===========================
    FEATURED PRODUCTS
=========================== */

.featured-products{
    padding:80px;
}

.featured-products h2{
    text-align:center;
    font-size:40px;
    color:#1b5e20;
    margin-bottom:50px;
}

.product-container{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:30px;
}

.product-card{
    background:#fff;
    padding:20px;
    border-radius:15px;
    text-align:center;
    transition:transform 0.3s ease,
               box-shadow 0.3s ease;
}

.product-card:hover{
    transform:translateY(-10px);
    box-shadow:0 15px 35px rgba(0,0,0,0.3);
}

.product-card img{
    width:100%;
    border-radius:10px;
}

.product-card h3{
    margin:15px 0 10px;
    font-size:22px;
}

.product-card p{
    font-size:18px;
    color:#2e7d32;
    font-weight:bold;
}

.product-card button{
    margin-top:15px;
    padding:12px 25px;
    border:none;
    background:#2e7d32;
    color:white;
    border-radius:8px;
    cursor:pointer;
    transition:background-color 0.3s ease;
}

.product-card button:hover{
    background:#1b5e20;
}